DB_HOST=localhost
DB_NAME=emaildb
DB_PORT=27017
DB_USERNAME=emailsender
DB_PASS=EmailS3nder
SECRET_TOKEN=rahasia
SECRET_SESSION=sessionrahasia
ACTIVE_LOGIN=7
ACTIVE_TOKEN_H=24
ROOT_FOLDER_UPLOAD=/app/public/video
NODE_ENV=development

# email sender config
EMAIL_SENDER=noreply@tell.co.id
G_CLIENTID=972786478280-te2jo067pumjm1cotkfs0hqot6sq776h.apps.googleusercontent.com
G_CLIENTSECRET=AFovqAVcLHUaqyScZAe_fHmR
G_REFRESTOKEN=1/1VlU6j9Tgi-E1jGhelYaAtPV5RzF44zUnbRT708f49Vnq4zhJmX3cy1roYmMsM9E


