// Here you can add other styles

body{

}

.img-avatar{
    border: 1px solid gray;
    width: 35px;
}

.sidebar .nav-link.active .nav-icon{
    color: white;
}

.sidebar-minimizer{
    display: none;
}
