/** 
*   Signup CSS
*/

.signup-holder{
    margin-top: 80px;
    margin-bottom: 120px;
    padding-top: 30px;

    position: relative;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #c1c1c1;
    border-radius: 2px;
    outline: 0;
    -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, .2);
    box-shadow: 0 3px 9px rgba(0, 0, 0, .2);
}