DB_HOST=localhost
DB_NAME=emailsenderdb
DB_PORT=27017
DB_USERNAME=emailserver
DB_PASS=EmailS3nder
SECRET_TOKEN=rahasia
SECRET_SESSION=sessionrahasia
ACTIVE_LOGIN=7
ACTIVE_TOKEN_H=24
ROOT_FOLDER_UPLOAD=/app/public/video
NODE_ENV=development

REDIS_HOST=localhost
REDIS_PORT=6379